
/* Global Styles */



#page-wrapper {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    height: 100% !important;
}

@media(min-width:768px) {
    #page-wrapper {
        padding: 10px;
    }
}


/* Side Navigation */

@media(min-width:768px) {



}

@media(max-width:768px) {
 

    #page-wrapper {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

}
