body, header, h1 {
    margin: 0;
    padding: 0;
}

body, body h1, body h2, body h3, body p, body a {
    font-family: "Roboto";
}

body {
    line-height: 1.3;
}

header {
    padding: 15px 15px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}

h1, h2, h3 {
    color: #2D3B47;
    color: #555;
    font-weight: 400;
    font-family: "Roboto";
}

h1 {
    font-weight: 400;
    font-size: 20px;
}

h3 {
    color: #111;
    font-size: 14px;
    margin-top: 30px;
}

p {
    font-
    color: #616A72;
}
    
menu {
    padding-left: 8px;
    font-size: 14px;
    color: #555;
}

section {
    padding: 0 8px;
}

ul {
	list-style-type: none;
}
.chart-wrapper .chart-stage {
  min-height: 75px;
}